<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.eschoolParent"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>E-School Parent App</name>

    <description>
        App for Parents to watch their kids
    </description>

    <author href="ronetz.com" email="moethetster@gmail.com">
        GMX
    </author>
    <content src="http://parent.ronetz.com/parents" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <preference name="WebViewBounce" value="true" />
</widget>